@import "../base/style";

.login_page {
  position: relative;
  height: 100%;
  background: url("https://browsecat.net/sites/default/files/netflix-background-128505-385441-537479.png") no-repeat center center;
  background-size: cover;

  .login_gradient {
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4) linear-gradient(
                    to top,
                    rgba(0, 0, 0, 0.8) 0,
                    rgba(0, 0, 0, 0) 60%,
                    rgba(0, 0, 0, 0) 100%
    );
  }

  .login_body {
    position: absolute;
    top: 30%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
    color: $primary-text-color;
    padding: 20px;
    left: 0;
    right: 0;

    h1 {
      font-size: 3.125rem;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 30px;
    }

    h3 {
      font-size: 1.3rem;
      font-weight: 400;
    }

    .login_screen_input {
      margin: 20px;

      form {
        input {
          padding: 10px;
          outline-width: 0;
          height: 47px;
          width: 30%;
          border: none;
          max-width: 600px;
        }
      }

      .login_page_getstarted {
        padding: 16px 20px;
        font-size: 1rem;
        color: $primary-text-color;
        background-color: $netflix-color;
        border: none;
        font-weight: 600;
        @extend %c-pointer
      }
    }

  }
}