@import "../base/style";


.row {
  color: $primary-text-color;
  margin-left: 20px;

  .row_posters {
    @extend %poster_container;
    &::-webkit-scrollbar {
      display: none;
    }

    .row_posterlarge {
      max-height: 250px;
      @extend %c-pointer;
      transition: tranform 450ms;


      &:hover {
        transform: scale(1.1);
        opacity: 1;
      }
    }

    .row_poster {
      max-height: 100px;
      object-fit: contain;
      margin-right: 10px;
      width: 100%;
      @extend %c-pointer;
      transition: tranform 450ms;

      &:hover {
        transform: scale(1.1);
        opacity: 1;
      }
    }
  }
}